<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li class="{{ page.class }}"><a href="index.html">Homepage</a></li>
                <li>
                    <span class="opener">Portfolio</span>
                    <ul>
                        {% for item in site.data.sidebar_portfolio %}
                        <li {% if page.url == item.link %}class="current"{% endif %}>
                            <a href="{{ item.link }}" target="{{ item.target }}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <span class="opener">Tool</span>
                    <ul>
                        {% for item in site.data.sidebar_tool %}
                        <li {% if page.url == item.link %}class="current"{% endif %}>
                            <a href="{{ item.link }}" target="{{ item.target }}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <span class="opener">Integrations</span>
                    <ul>
                        {% for item in site.data.sidebar_integrations %}
                        <li {% if page.url == item.link %}class="current"{% endif %}>
                            <a href="{{ item.link }}" target="{{ item.target }}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <span class="opener">System Design</span>
                    <ul>
                        {% for item in site.data.sidebar_system_design %}
                        <li {% if page.url == item.link %}class="current"{% endif %}>
                            <a href="{{ item.link }}" target="{{ item.target }}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <span class="opener">Linux</span>
                    <ul>
                        {% for item in site.data.sidebar_linux %}
                        <li {% if page.url == item.link %}class="current"{% endif %}>
                            <a href="{{ item.link }}" target="{{ item.target }}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <span class="opener
{% for item in site.data.sidebar_other %}
{% if page.url == item.link %}active{% endif %}
{% endfor %}">Other</span>
                    <ul>
                        {% for item in site.data.sidebar_other %}
                        <li {% if page.url == item.link %}class="current"{% endif %}>
                            <a href="{{ item.link }}" target="{{ item.target }}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>如果你對我展示的作品有興趣，歡迎與我聯絡</p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="mailto:hsu.weni@gmail.com" target="_blank">hsu.weni@gmail.com</a></li>
                <li class="icon solid fa-info-circle"><a href="https://www.linkedin.com/in/weni-hsu-88251777/" target="_blank">View My LinkedIn Profile</a></li>
                <li class="icon solid fa fa-sitemap"><a href="https://github.com/dkben" target="_blank">View My Github Profile</a></li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>.
                Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

        {{ page.my_number }}
    </div>
</div>