---
layout: default
---
<p>{{ page.date | date_to_string }}</p>

{{ content }}

<div class="tags">
    {% assign sortedTags = page.tags | sort %}
    <small>Tags: </small>
    {% for tag in sortedTags %}
    <span class="tag">
          <small> <a href="{{ site.baseurl }}/tag/{{ tag }}"> #{{ tag }}</a></small>
        </span>
    {% endfor %}
    <br>
</div>

<div class="related-posts">
    {% assign firstTag = page.tags | first %}
    {% assign relatedCount = 0 %}
    {% for related in site.tags[firstTag] %}

    {% unless page.permalink == related.permalink %}
    {% assign relatedCount = relatedCount | plus: 1 %}
    <a href="{{ site.baseurl }}{{related.permalink}}">{{ related.title }}</a><br>
    {% endunless %}

    {% if relatedCount == 4 %}
    {% break %}
    {% endif %}
    {% endfor %}
</div>

<hr>

<a class="button primary" onclick="history.back()">回上一頁</a>

<br>
<br>
<br>